@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="card col-3">
        <div class="sale">Giảm 2.000.000đ</div>
        <img src="~/phone/Iphone11.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="title">iPhone 11 Pro Max 64GB</h4>
            <h3 class="title-2">Chỉ từ 1.521.000đ/ tháng</h3>
            <p class="price-sale"><del>33.990.000</del> đ</p>
            <div class="rate">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <p class="price-sale comment"> (439 đánh giá)</p>
            </div>
            <h4 class="cauhinh">Màn hình:<p class="cauhinh-detail">1242 x 2688 Pixel 6.5 in...</p>
            </h4>
            <h4 class="cauhinh">Camera:<p class="cauhinh-detail">Triple 12MP Ultra Wide...</p>
            </h4>
            <h4 class="cauhinh">Pin:<p class="cauhinh-detail">Lâu hơn Iphone Xs Max 5h</p>
            </h4>
            <h4 class="cauhinh">RAM:<p class="cauhinh-detail">4GB</p>
            </h4>
            <h4 class="cauhinh">CPU:<p class="cauhinh-detail">Apple A13 Bionic</p>
            </h4>
            <h4 class="cauhinh">HDH: <p class="cauhinh-detail">IOS 13</p>
            </h4>
        </div>
    </div>

        <div class="card col-3">
        <div class="sale">Giảm 2.000.000đ</div>
        <img src="~/phone/Iphone11.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="title">iPhone 11 Pro Max 64GB</h4>
            <h3 class="title-2">Chỉ từ 1.521.000đ/ tháng</h3>
            <p class="price-sale"><del>33.990.000</del> đ</p>
            <div class="rate">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <p class="price-sale comment"> (439 đánh giá)</p>
            </div>
            <h4 class="cauhinh">Màn hình:<p class="cauhinh-detail">1242 x 2688 Pixel 6.5 in...</p>
            </h4>
            <h4 class="cauhinh">Camera:<p class="cauhinh-detail">Triple 12MP Ultra Wide...</p>
            </h4>
            <h4 class="cauhinh">Pin:<p class="cauhinh-detail">Lâu hơn Iphone Xs Max 5h</p>
            </h4>
            <h4 class="cauhinh">RAM:<p class="cauhinh-detail">4GB</p>
            </h4>
            <h4 class="cauhinh">CPU:<p class="cauhinh-detail">Apple A13 Bionic</p>
            </h4>
            <h4 class="cauhinh">HDH: <p class="cauhinh-detail">IOS 13</p>
            </h4>
        </div>
    </div>

        <div class="card col-3">
        <div class="sale">Giảm 2.000.000đ</div>
        <img src="~/phone/Iphone11.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="title">iPhone 11 Pro Max 64GB</h4>
            <h3 class="title-2">Chỉ từ 1.521.000đ/ tháng</h3>
            <p class="price-sale"><del>33.990.000</del> đ</p>
            <div class="rate">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <p class="price-sale comment"> (439 đánh giá)</p>
            </div>
            <h4 class="cauhinh">Màn hình:<p class="cauhinh-detail">1242 x 2688 Pixel 6.5 in...</p>
            </h4>
            <h4 class="cauhinh">Camera:<p class="cauhinh-detail">Triple 12MP Ultra Wide...</p>
            </h4>
            <h4 class="cauhinh">Pin:<p class="cauhinh-detail">Lâu hơn Iphone Xs Max 5h</p>
            </h4>
            <h4 class="cauhinh">RAM:<p class="cauhinh-detail">4GB</p>
            </h4>
            <h4 class="cauhinh">CPU:<p class="cauhinh-detail">Apple A13 Bionic</p>
            </h4>
            <h4 class="cauhinh">HDH: <p class="cauhinh-detail">IOS 13</p>
            </h4>
        </div>
    </div>

        <div class="card col-3">
        <div class="sale">Giảm 2.000.000đ</div>
        <img src="~/phone/Iphone11.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="title">iPhone 11 Pro Max 64GB</h4>
            <h3 class="title-2">Chỉ từ 1.521.000đ/ tháng</h3>
            <p class="price-sale"><del>33.990.000</del> đ</p>
            <div class="rate">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <p class="price-sale comment"> (439 đánh giá)</p>
            </div>
            <h4 class="cauhinh">Màn hình:<p class="cauhinh-detail">1242 x 2688 Pixel 6.5 in...</p>
            </h4>
            <h4 class="cauhinh">Camera:<p class="cauhinh-detail">Triple 12MP Ultra Wide...</p>
            </h4>
            <h4 class="cauhinh">Pin:<p class="cauhinh-detail">Lâu hơn Iphone Xs Max 5h</p>
            </h4>
            <h4 class="cauhinh">RAM:<p class="cauhinh-detail">4GB</p>
            </h4>
            <h4 class="cauhinh">CPU:<p class="cauhinh-detail">Apple A13 Bionic</p>
            </h4>
            <h4 class="cauhinh">HDH: <p class="cauhinh-detail">IOS 13</p>
            </h4>
        </div>
    </div>
</div>