@{
    var message = ViewData["message"];
    var name = ViewBag.name;
    var email = ViewBag.email;
}

<p>Use this page to detail your about</p>
<h5>Title:@ViewData["Title"]</h5>
<h5>message:@message</h5>
<h5>name:@name</h5>
<h5>email:@email</h5>
