@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var email = @ViewBag.Email;
}
<h1>Xin chào @ViewBag.Email ! Bạn đã đăng nhập thành công</h1>
