@{
    ViewData["Title"] = "lab5 - london";
    Layout = "_LayoutBai1";
}

<h1 class="title">Luân Đôn</h1>
<p class="content">Luân Đôn (tiếng Anh: London; phát âm tiếng Anh: /ˈlʌndən/) là thủ đô kiêm thành phố lớn nhất của Anh (England) và của
    cả Vương quốc Liên hiệp Anh và Bắc Ireland (UK). Luân Đôn được người La Mã lập ra 2000 năm trước đây với tên gọi đầu
    tiên là Londinium (Luân Đôn thuộc La Mã).[1] Trung tâm chính từ xa xưa của Luân Đôn là Thành phố Luân Đôn, hiện vẫn
    giữ được ranh giới rộng hàng dặm vuông từ thời Trung Cổ trên quy mô lớn. Sớm nhất cũng từ thế kỷ 19, tên gọi
    "London" mới được biết đến như một đô thị lớn phát triển quanh trung tâm chính.[2] Sự sáp nhập của những vùng đô thị
    liên hoàn tạo thành vùng Luân Đôn[3] và vùng hành chính Đại Luân Đôn,[4][note 1] do thị trưởng Luân Đôn và Hội đồng
    Luân Đôn điều hành thông qua đắc cử.[5]</p>