@{
    ViewData["Title"] = "lab5 - Paris";
    Layout = "_LayoutBai1";
}

<h1 class="title">Paris</h1>
<p class="content">Paris (phát âm tiếng Pháp: [paʁi] (Speaker Icon.svg nghe)) là thủ đô và là thành phố đông dân nhất
    nước Pháp, với dân số ước tính là 2.175.601 người tính đến năm 2018, trên diện tích hơn 105 kilômét vuông (41 dặm
    vuông Anh).[4] Kể từ thế kỷ 17, Paris đã là một trong những trung tâm lớn về tài chính, ngoại giao, thương mại, thời
    trang, ẩm thực, khoa học và nghệ thuật của châu Âu. Thành phố Paris là trung tâm và là nơi đặt trụ sở chính quyền
    của vùng và tỉnh Île-de-France, hay Vùng Paris, có dân số ước tính là 12.174.880 người, hay khoảng 18% dân số Pháp
    tính đến năm 2017.[5] Vùng Paris có GDP là 709 tỷ € (808 tỷ USD) vào năm 2017.[6] Theo Khảo sát Chi phí Sinh hoạt
    Toàn cầu của Economist Intelligence Unit vào năm 2018, Paris là thành phố đắt đỏ thứ hai trên thế giới, sau
    Singapore và đứng trước Zürich, Hồng Kông, Oslo và Geneva.[7] Một nguồn tin khác xếp Paris là thành phố đắt đỏ nhất,
    ngang hàng với Singapore và Hồng Kông, vào năm 2018.[8][9]</p>