@{
    ViewData["Title"] = "lab5 - Tokyo";
    Layout = "_LayoutBai1";
}

<h1 class="title">Tokyo</h1>
<p class="content">Tokyo (Nhật: 東京都とうきょうと (Đông Kinh đô) Hepburn: Tōkyō-to?, Về âm thanh nàynghe (trợ giúp·thông tin))
    là thủ đô trên thực tế[3] và là một trong 47 tỉnh của Nhật Bản, nằm ở phía đông của đảo chính Honshū, vùng Kanto.
    Đây là nơi đặt Hoàng cung và trụ sở chính của Chính phủ Nhật Bản. Không chỉ là một đô thị riêng lẻ, Tokyo ngày nay
    còn là trung tâm của Vùng thủ đô Tōkyō. Trung tâm hành chính của Tokyo đặt ở khu Shinjuku, khu đô thị lớn nhất là
    Setagaya. Vùng đô thị Tokyo là vùng đô thị đông dân nhất thế giới với dân số từ 35-39 triệu người (tùy theo cách
    định nghĩa) và là vùng đô thị có GDP cao nhất thế giới với GDP 1.479 tỷ đô la Mỹ theo sức mua tương đương vào năm
    2008[4].</p>